<h1>My PlayGround</h1>

<table>
  <thead>
    <tr>
      <th>Controller</th>
      <th>Action</th>
      <th>Path</th>
      <th>Method</th>
    </tr>
  </thead>
  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route[:controller] %></td>
        <td><%= route[:action] %></td>
        <td><%= route[:path] %></td>
        <td><%= route[:method] %></td>
        <!--get methodかつparameterがいらないもののみlinkを表示する -->
        <% if route[:method] == "GET" && route[:path].exclude?(":") %>
          <td><%= link_to "link", route[:path] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>